<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mywork2">
    <!-- access horsePay api and remote mysql -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWork2"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".MyAccount.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".MyAccount.AppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MyAccount.AccountEditActivity"
            android:exported="false" />
        <activity
            android:name=".MyPlansInfoNearbyActivity"
            android:exported="false" />
        <activity
            android:name=".Avatar"
            android:exported="false" />
        <activity
            android:name=".AboutThisApp"
            android:exported="false" />
        <activity
            android:name=".SearchPlans"
            android:exported="false" />
        <activity
            android:name=".CastleDetails"
            android:exported="false" />
        <activity
            android:name=".MyPlansInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPlanInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPlanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mywork2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>